nodeRed/flows2.json
[
    {
        "id": "79f7c9a3c8ed6ca8",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a79e0e10a077a131",
        "type": "inject",
        "z": "79f7c9a3c8ed6ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 540,
        "wires": [
            [
                "bc1a4d2440ec5280"
            ]
        ]
    },
    {
        "id": "82203e78a8608a18",
        "type": "debug",
        "z": "79f7c9a3c8ed6ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 540,
        "wires": []
    },
    {
        "id": "bc1a4d2440ec5280",
        "type": "function",
        "z": "79f7c9a3c8ed6ca8",
        "name": "function 1",
        "func": "// Lo que está después de \"//\" son comentarios\n// Crea un objeto Date a partir del msg.payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al siguiente nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 640,
        "wires": [
            [
                "82203e78a8608a18"
            ]
        ]
    }
]